body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ecedf5;
  text-align: center;
}

header {
  background-color: #161616;
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 24px;
}
header p{
  text-align: center;
  color: rgb(198, 240, 236);
}
section {
  display: flex;
  flex-grow: inherit;
  background: rgb(5, 6, 9);
  margin: 20px;
  padding: 50px;
  width: auto;
  border-radius: 20px;
  box-shadow: 3px 4px 6px rgba(66, 105, 168, 0.1);
}

h2 {
  color: #faf9f9;
  padding: 10px;
  margin: 23px;
}

section p {
  color: #c4c0c0;
  text-align: left;
  padding: 10px;
}

footer {
  margin-top: 20px;
  padding: 10px;
  background-color: #161616;
  
 }

 footer p{
  text-align: center;
 }
